.form-popup {
    position: fixed;
    width:600px;
    right: 25%;
    height: 500px;
    border-radius: 10px;
    background-color:#a82652 ;
    z-index:1;
    bottom:50px;
    border: 4px solid white;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 500px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-left:10%;
    padding: 10px;
    height: 100%;
    
  }
  
  /* Full-width input fields */
  .form-container input[type=text]{
    width: 100%;
    padding: 10px;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
  input::placeholder {
    color: black;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    margin-top: 20px;
    background-color: rgb(34, 140, 240);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .cancel {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-left: 50px;
    opacity:1 ;
  }
.cancel:hover{
    opacity: 0.8;
}
  .tagclose{
      display: flex;
      justify-content: space-between;
  }
  .tagclose h1,label{
      color: white;
  }
  /* Add some hover effects to buttons */
  .form-container .btn:hover {
    opacity: 1;
  }